.App {
  text-align: center;
}

.noteListItem {
  background-color: #999999; 
  padding: 10px;
  cursor: pointer;
}

.noteListItem:nth-of-type(odd) {
  background-color: #888888!important;
  
}

.noteListItem:hover {
  background-color: #777777;
}

.page button {
  margin: 4px;
}