ion-header {
    text-align: center;
    border-bottom: 1px solid black;
    --ion-background-color: rgb(223, 221, 221);
}

.ios {
    --ion-text-color: black;
  }

:root {
    --ion-color-primary: black;
    --ion-color-secondary: maroon;
    --ion-color-primary-contrast: #fff;
    --ion-text-color: rgb(49, 49, 185);
}